main {
}

/*
p-dialog {
  background-color: darkcyan;
  border-color: transparent;
  margin-left: 35rem;
  width: 40rem;
  height: 20rem;
  position: fixed;
  top: 8rem;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
*/

