:host ::ng-deep .panel-left .p-panel-content,
:host ::ng-deep .panel-right .p-panel-content {
  padding-top: 0; /* of 0 als je echt strak wilt */
  padding-bottom: 0.05rem;
}

.panel-left button:first-child,
.panel-right button:first-child {
  margin-top: 0; /* haalt ruimte boven de eerste button weg */
}

p-panel {
  background-color: var(--panel-background-color);
  border-color: transparent;
  margin-top: auto;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  /*min-height: 98vh;*/
}

