<p-dialog
  [showHeader]="false"
  appendTo="body"
  [modal]="true"
  [visible]="displayRefreshingDbDialog()"
  (onHide)="cancel()"
>

  <div class="refreshing">
    <h3>Database met boeken wordt opnieuw ingelezen</h3>
    @if (refreshState() === RefreshState.LOADING) {

      <p>
        <p-image src="loading.gif" alt="Even geduld..."></p-image>
      </p>

      <p>Dit kan even duren...</p>
    }

    @if (refreshState() === RefreshState.ERROR) {

      <p>
        <p-image src="error.png" width="100px" alt="Er is iets mis gegaan."></p-image>
      </p>

      <p class="error">{{ errorMessage() }}</p>

      <button
        pButton
        pRipple
        type="button"
        class="dialog-button"
        (click)="cancel()"
      >
        <i class="pi pi-times" pButtonIcon></i>
        <span pButtonLabel>Ok</span>
      </button>

    }
  </div>
</p-dialog>

