<main>
  <p class="active-user">Aangemeld als {{ getActiveUser() }}</p>
  <i class="pi pi-bars menu-icon" (click)="popover.toggle($event)"></i>

  <p-popover #popover>
    <div class="menu-items">

      @for (item of items; track item.label) {
        <a
          class="menu-link"
          (click)="navigate(item, popover)"
          >
          @if (item.icon) {
            <i [class]="item.icon"></i>
          }
          <span>{{ item.label }}</span>
        </a>
      }
    </div>
  </p-popover>
</main>
