main {
  text-align: right;
  margin-right: 1rem;
  margin-top: -6rem;
}

.menu-icon {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 6px 0;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--dialog-color);
  padding: 6px 10px;
  border-radius: 4px;
  width: 180px;
}

.menu-link:hover {
  background: var(--dialog-color) !important;
  color: var(--dialog-background-color) !important;
}

.menu-link i {
  font-size: 1.2rem;
}
