main {
  margin-left: 1rem;
  margin-right: 70rem;
}

p-tree {
  background-color: royalblue;
  font-size: 0.9rem;
  line-height: 0.3rem;
  padding: 0;
  scrollbar-width: auto;

}

p-panel {
  background-color: royalblue;
  border-color: aliceblue;
  border-radius: 12px;
}

