:host ::ng-deep .p-splitter-gutter {
  background-color: royalblue;
}

.p-splitter {
  background-color: royalblue;
  border-color: transparent;
}

.p-panel {
  background-color: royalblue;
  border-color: transparent;
  margin-left: -1rem;
  position: fixed;
  top: 7rem;
  bottom: -3rem;
  width: 100%;
  height: 100%;
}

