/* ===== LAYOUT ===== */

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}


/* ===== TOP ===== */

.top-panel,
.bottom-panel {
  width: 100%;
}

.top-panel {
  height: 7rem;
  flex-shrink: 0;
}


/* ===== CENTER ===== */

.center-panel {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0;
  border: none;
  width: 95%;
}


/* ===== BOTTOM ===== */

.bottom-panel {
  height: 4rem;
  flex-shrink: 0;
  background-color: var(--panel-background-color);
}


/* ===== SPLITTER ===== */

:host ::ng-deep .p-splitter {
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  display: flex;              /* 🔥 belangrijk */
  overflow: hidden;
  background-color: var(--panel-background-color);
}


/* Beide panels exact gelijk */
:host ::ng-deep .p-splitter-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;                /* 🔥 verdeelt ruimte gelijk */
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

:host ::ng-deep .p-splitter-gutter {
  background-color: var(--panel-background-color);
}
