:host ::ng-deep .mail-form {
  background-color: blanchedalmond;
  color: #363636;
}

:host ::ng-deep .p-dialog {
  background-color: blanchedalmond;
  color: #363636;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-inputtext:focus:enabled,
:host ::ng-deep .p-inputtext:hover {
  background-color: #363636;
  border-color: #363636;
  color: blanchedalmond;
  width: 100%;
}

/*.settings-button {*/
/*  background-color: #363636;*/
/*  border-color: #363636;*/
/*  color: blanchedalmond;*/
/*  margin-right: 0.5rem;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);*/
/*  &:enabled:hover {*/
/*    background-color: gray;*/
/*    border-color: gray;*/
/*  }*/
/*  &:enabled:active {*/
/*    background-color: royalblue;*/
/*    color: white;*/
/*    box-shadow: none;*/
/*  }*/
/*}*/

/*p-password {*/
/*  width: 100%;*/
/*}*/

.settings-input {
  padding-bottom: 0.5rem;
}

