:host ::ng-deep .mail-form {
  background-color: var(--form-achtergrond-kleur);
  color: var(--form-kleur);
}

:host ::ng-deep .p-dialog {
  background-color: var(--dialog-achtergrond-kleur);
  color: var(--dialog-kleur);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-inputtext:focus:enabled,
:host ::ng-deep .p-inputtext:hover {
  background-color: var(--input-achtergrond-kleur);
  border-color: var(--input-achtergrond-kleur);
  color: var(--input-kleur);
  width: 100%;
}

.mail-dialog-button {
  background-color: var(--button-achtergrond-kleur);
  border-color: var(--button-achtergrond-kleur);
  color: var(--button-kleur);
  margin-right: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  &:enabled:hover {
    background-color: var(--button-hover-achtergrond-kleur);
    border-color: var(--button-hover-achtergrond-kleur);
    color: var(--button-hover-kleur);
  }
  &:enabled:active {
    background-color: var(--button-active-achtergrond-kleur);
    border-color: var(--button-active-achtergrond-kleur);
    color: var(--button-active-kleur);
    box-shadow: none;
  }
}

.mail-input {
  padding-bottom: 0.5rem;
}

