:host ::ng-deep .p-scrollpanel {
  height: 450px !important;
}

:host ::ng-deep .highlight {
  background-color: aliceblue;
  color: royalblue;
  font-weight: bold;
}

:host ::ng-deep .p-inputtext {
  background-color: aliceblue;
  color: black;
  border: 1px solid royalblue;
  padding-top: 0.25rem;      /* optioneel, kleiner dan standaard */
  padding-bottom: 0.25rem;   /* minimaliseer witruimte onderin */
  margin: 0;                  /* verwijder extra margin */
  height: auto;               /* zodat padding niet de hoogte te groot maakt */
  box-sizing: border-box;     /* zodat padding in hoogte blijft */
}

:host ::ng-deep .p-inputtext:focus {
  border-color: darkblue;
  box-shadow: 0 0 0 2px rgba(65,105,225,0.2);
}

:host ::ng-deep .p-divider.p-divider-horizontal:before {
  border-top: 1px solid aliceblue;
}

p-panel {
  background-color: royalblue;
  border-color: aliceblue;
  border-radius: 12px;
  margin-right: 0;
  min-height: 100%;
  max-height: 100%;
  font-size: 0.9rem;
}

td {
  padding-left: 1rem;
  vertical-align: top;
}

.metadata-on-top {
  margin-top: 1rem;
}

.thumbnail {
  cursor: pointer;
}

.description-container {
  p {
    line-height: 1.5;
  }
}

.search-box {
  margin-bottom: 0;
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}

