<p-panel [showHeader]="false">

  @if (metadata(); as meta) {

    <div class="metadata-on-top">

      <table>
        <tr>
          <td>
            <p-image
              [src]="ebookService.getCoverImage()"
              alt="Cover"
              width="150px"
              [preview]="true"
              appendTo="body"
            />
          </td>

          <td>
            <table>

              @if (meta.title) {
                <tr>
                  <td>Titel:</td>
                  <td>{{ meta.title }}</td>
                </tr>
              }

              @if (meta.authors.length) {
                <tr>
                  <td>
                    {{ meta.authors.length > 1 ? 'Auteurs:' : 'Auteur:' }}
                  </td>
                  <td>{{ meta.authors.join(', ') }}</td>
                </tr>
              }

              @if (meta.publisher) {
                <tr>
                  <td>Uitgever:</td>
                  <td>{{ meta.publisher }}</td>
                </tr>
              }

              @if (meta.subjects.length) {
                <tr>
                  <td>Trefwoorden:</td>
                  <td>{{ meta.subjects.join(', ') }}</td>
                </tr>
              }

              @if (meta.language) {
                <tr>
                  <td>Taal:</td>
                  <td>{{ meta.language }}</td>
                </tr>
              }

              @if (meta.isbn) {
                <tr>
                  <td>Isbn:</td>
                  <td>{{ meta.isbn }}</td>
                </tr>
              }

              @if (meta.date) {
                <tr>
                  <td>Datum:</td>
                  <td>{{ meta.date }}</td>
                </tr>
              }

              @if (meta.format) {
                <tr>
                  <td>Formaat:</td>
                  <td>{{ meta.format }}</td>
                </tr>
              }

            </table>
          </td>
        </tr>
      </table>
    </div>

    <p-scroll-panel>

      <div class="search-box">
        <p-iconfield class="full-width">
          <input
            pInputText
            type="text"
            placeholder="Zoek in beschrijving..."
            [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event)"
          />

          @if (searchTerm()) {
            <p-inputicon
              class="pi pi-times clear-icon"
              (click)="searchTerm.set('')">
            </p-inputicon>
          }
        </p-iconfield>
      </div>

      @if (meta.description) {
        <div class="description-container">
          <p [innerHTML]="descriptionHtml()"></p>
        </div>
      }

    </p-scroll-panel>
  }

</p-panel>
