:host ::ng-deep .p-scrollpanel {
  /*padding: 1.5rem;*/
  /*line-height: 2;*/
  /*border: 5px solid green !important;*/
  /*box-shadow: 5px 10px #eb5454;*/
  height: 370px !important;
}
p-panel {
  background-color: royalblue;
  border-color: aliceblue;
  border-radius: 12px;
  margin-right: 0;
  min-height: 100%;
  max-height: 100%;
  font-size: 0.9rem;

}

.metadata-on-top {
  margin-top: 1rem;
}

.metadata-table {
  padding-left: 1rem;
  vertical-align: top;
}



