:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

/* Panel */
p-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  padding: 0.5rem;
  border: var(--panel-border);
  border-radius: 10px;
  background-color: var(--panel-background-color);
  color: var(--panel-color);
}

.metadata {
  border: none;
  padding: 0;
  font-size: 0.9rem;
}

/* Metadata bovenaan */
.metadata-on-top {
  flex-shrink: 0;
  margin-bottom: 0.3rem;
  margin-top: 0.1rem;
}

/* Scrollbare content */
.description-container {
  flex: 1 1 auto;
  /*min-height: 0;*/
  height: 47vh;
}

/* Custom scrollpanel styling */
:host ::ng-deep .custom-scrollpanel {
  width: 100%;
  height: 100%;
  min-height: 0;
}

/* Zoekbox onderaan */
.search-box {
  flex-shrink: 0;
  margin-top: 0;
  border: none;
}

/* Optionele styling input */
.search-box input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}
/* Divider onderaan */
:host ::ng-deep p-divider {
  flex-shrink: 0;
  margin-top: 0.5rem; }

/* Divider styling */
:host ::ng-deep .p-divider.p-divider-horizontal:before {
  border-top: var(--panel-border);
}

:host ::ng-deep .highlight {
  background-color: var(--panel-color);
  color: var(--panel-background-color);
  font-weight: bold;
}

:host ::ng-deep .p-inputtext {
  background-color: var(--panel-input-background-color);
  color: var(--panel-input-color);
  border: var(--panel-border);
  padding-top: 0.25rem;      /* optioneel, kleiner dan standaard */
  padding-bottom: 0.25rem;   /* minimaliseer witruimte onderin */
  margin: 0;                  /* verwijder extra margin */
  height: auto;               /* zodat padding niet de hoogte te groot maakt */
  box-sizing: border-box;     /* zodat padding in hoogte blijft */
}

:host ::ng-deep .p-inputtext:focus {
  border-color: var(--panel-input-focus-color);
  box-shadow: 0 0 0 2px rgba(65,105,225,0.2);
}

:host ::ng-deep .p-panel-content
{
  padding: 0 !important;
}

td {
  vertical-align: top;
  padding-top: 0 !important;
}
