:host ::ng-deep .p-scrollpanel {
  height: 450px !important;
}

p-panel {
  background-color: royalblue;
  border-color: aliceblue;
  border-radius: 12px;
  margin-right: 0;
  min-height: 100%;
  max-height: 100%;
  font-size: 0.9rem;
}

td {
  padding-left: 1rem;
  vertical-align: top;
}

.metadata-on-top {
  margin-top: 1rem;
}

.thumbnail {
  cursor: pointer;
}

