<p-panel [showHeader]="false">
  @if (getIdFound()) {
    <div class="metadata-on-top">
      <table>
        <tr>
          <td>
            <p-image
              [src]="getCoverImage()"
              alt="Cover"
              width="150px"
              class="thumbnail"
              [preview]="true"
              appendTo="body"
            />
          </td>
          <td>
            <table>
              @if (getTitle()) {
                <tr>
                  <td>Titel:</td>
                  <td>{{ getTitle() }}</td>
                </tr>
              }

              @if (getAuthors()) {
                <tr>
                  @if (getAuthors().includes(",")) {
                    <td>Auteurs:</td>
                  } @else {
                    <td>Auteur:</td>
                  }
                  <td>{{ getAuthors() }}</td>
                </tr>
              }

              @if (getPublisher()) {
                <tr>
                  <td>Uitgever:</td>
                  <td>{{ getPublisher() }}</td>
                </tr>
              }

              @if (getSubjects()) {
                <tr>
                  <td>Trefwoorden:</td>
                  <td>{{ getSubjects() }}</td>
                </tr>
              }

              @if (getLanguage()) {
                <tr>
                  <td>Taal:</td>
                  <td>{{ getLanguage() }}</td>
                </tr>
              }

              @if (getIsbn()) {
                <tr>
                  <td>Isbn:</td>
                  <td>{{ getIsbn() }}</td>
                </tr>
              }

              @if (getDate()) {
                <tr>
                  <td>Datum:</td>
                  <td>{{ getDate() }}</td>
                </tr>
              }

              @if (getFormat()) {
                <tr>
                  <td>Formaat:</td>
                  <td>{{ getFormat() }}</td>
                </tr>
              }

            </table>
          </td>
        </tr>
      </table>
    </div>

    <p-scroll-panel>
      @if (getDescription()) {
        <div [innerHtml]="getDescription()"></div>
      }
    </p-scroll-panel>
  }

</p-panel>
