/* geen padding */
:host ::ng-deep .image-dialog .p-dialog-content {
  padding: 0;
}

/* image bepaalt grootte */
.dialog-image {
  max-width: min(80vw, 1200px);   /* maximale breedte */
  max-height: min(80vh, 800px);  /* maximale hoogte */
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}
