.p-tree {
  background-color: royalblue;
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 0.3rem;
  padding: 0;
  scrollbar-width: auto;
  --p-tree-node-padding: 0.01rem 0.1rem;
  --p-inputtext-background: aliceblue;
  --p-inputtext-color: midnightblue;
  --p-iconfield-icon-color: midnightblue;
}

p-panel {
  background-color: royalblue;
  border-color: aliceblue;
  border-radius: 12px;
  margin-left: 1rem;
  min-height: 100%;
  max-height: 100%;
}

