/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
  --button-achtergrond: #363636;
  --button-kleur: blanchedalmond;
  --button-active-achtergrond: royalblue;
  --button-active-kleur: white;
  --button-hover-achtergrond: royalblue;
  --button-hover-kleur: white;
  --dialog-achtergrond: blanchedalmond;
  --dialog-kleur: #363636;
  --form-achtergrond: blanchedalmond;
  --form-kleur: #363636;
  --input-achtergrond: #363636;
  --input-kleur: blanchedalmond;
}

body {
  background-color: royalblue;
}
