<p-panel [showHeader]="false" class="panel-left">
  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="ebook-button left-button"
    (click)="onClickMailBook()"
  >
    <i class="pi pi-send" pButtonIcon></i>
    <span pButtonLabel>Mailen</span>
  </button>

  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="ebook-button left-button"
    (click)="onClickCopyBook()"
  >
    <i class="pi pi-copy" pButtonIcon></i>
    <span pButtonLabel>Kopi&euml;ren</span>
  </button>

  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="ebook-button left-button"
    (click)="searchWithBrowser()"
  >
    <i class="pi pi-google" pButtonIcon></i>
    <span pButtonLabel>Google</span>
  </button>
</p-panel>

<p-panel [showHeader]="false" class="panel-right">
  <button
    pButton
    pRipple
    type="button"
    class="ebook-button left-button"
    (click)="onClickSearch()"
  >
    <i class="pi pi-search" pButtonIcon></i>
    <span pButtonLabel>Zoeken</span>
  </button>

  <button
    pButton
    pRipple
    type="button"
    class="ebook-button"
    (click)="saveBooksToDatabase()"
  >
    <i class="pi pi-refresh" pButtonIcon></i>
    <span pButtonLabel>Database verversen</span>
  </button>
</p-panel>

