<div class="buttons-left">
  <button
    pButton
    pRipple
    type="button"
    class="panel-button"
    (click)="onClickSearch()"
  >
    <i class="pi pi-search" pButtonIcon></i>
    <span pButtonLabel>Zoeken</span>
  </button>

  <button
    pButton
    pRipple
    type="button"
    class="panel-button"
    (click)="resetBooktree()"
  >
    <i class="pi pi-sync" pButtonIcon></i>
    <span pButtonLabel>Reset</span>
  </button>
</div>

<div class="buttons-right">
  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="panel-button"
    (click)="onClickMailBook()"
  >
    <i class="pi pi-send" pButtonIcon></i>
    <span pButtonLabel>Mailen</span>
  </button>

  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="panel-button"
    (click)="onClickCopyBook()"
  >
    <i class="pi pi-copy" pButtonIcon></i>
    <span pButtonLabel>Kopi&euml;ren</span>
  </button>

  <button
    pButton
    pRipple
    [disabled]="isButtonDisabled()"
    type="button"
    class="panel-button"
    (click)="searchWithBrowser()"
  >
    <i class="pi pi-globe" pButtonIcon></i>
    <span pButtonLabel>Browser</span>
  </button>
</div>

