<p-dialog
    header="Zoeken"
    [styleClass]="changeColor ? 'dialogSearch' : ''"
    [modal]="true"
    [(visible)]="displayDialog"
    (onHide)="cancel()"
>
  <p-card class="search-form flex justify-content-center">
    <form [formGroup]="searchForm" (ngSubmit)="search()">

<!-- Zoekargument -->
      <div class="field search-input">
        <label for="searchArgument" class="block">Zoekargument:</label>
        <input
          type="text"
          pInputText formControlName="searchArgument"
        />
        @if(searchForm.get('searchArgument')?.invalid && searchForm.get('searchArgument')?.dirty) {
          <small class="p-error block">Zoekargument is verplicht</small>
        }
      </div>

<!-- Zoeken in -->
      <div class="field search-input radio-group">
        <label class="block mb-3">Zoeken in:</label>

        @for(w of whereToSearchPlaces; track w.value) {
          <div class="flex align-items-center mb-2">
            <p-radioButton
              name="whereToSearch"
              class="small-radio"
              [value]="w.value"
              formControlName="whereToSearch">
            </p-radioButton>
            <label class="ml-2">{{ w.label }}</label>
          </div>
        }

        @if (searchForm.get('whereToSearch')?.invalid
        && searchForm.get('whereToSearch')?.touched) {
          <small class="p-error block">
            Selecteer een rubriek
          </small>
        }
      </div>


<!-- Alleen hele woorden zoeken -->
      <div class="field search-input radio-group">
        <label class="block mb-3">Alleen hele woorden zoeken:</label>

        @for(yn of yesNoRadioButtons; track yn.value) {
          <div class="flex align-items-center mb-2">
            <p-radioButton
              name="isExactMatch"
              class="small-radio"
              [value]="yn.value"
              formControlName="isExactMatch">
            </p-radioButton>
            <label class="ml-2">{{ yn.label }}</label>
          </div>
        }

        @if (searchForm.get('isExactMatch')?.invalid
        && searchForm.get('isExactMatch')?.touched) {
          <small class="p-error block">
            Verplichte rubriek
          </small>
        }
      </div>

<!-- Butttons -->
      <p>
        <button
          pButton
          pRipple
          type="button"
          class="search-dialog-button"
          (click)="cancel()"
        >
          <i class="pi pi-times" pButtonIcon></i>
          <span pButtonLabel>Annuleer</span>
        </button>

        <button
          pButton
          pRipple
          type="submit"
          class="search-dialog-button"
          (click)="search()"
        >
          <i class="pi pi-search" pButtonIcon></i>
          <span pButtonLabel>Zoeken</span>
        </button>

      </p>
    </form>
  </p-card>
</p-dialog>
<app-yes-no-database></app-yes-no-database>
